/* Alteração do box model */
*,*::after, *::before { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@media screen and (max-width: 1800px) {
    html { font-size: 10px;}
}

@media screen and (max-width: 1200px) {
    html { font-size: 8px;}
}

@media screen and (max-width: 600px) {
    html { font-size: 6px;}

    .container .box{
        position: relative;

        width: 10vw;
        height: 40vh;

        transform-style: preserve-3d;
        animation: animate 20s linear infinite;
    }

    @keyframes animate{
            0% {
                transform: perspective(
                    3000px) /* 1600 */
                rotateY(0deg);    
            }
            100% {
                transform: perspective(
                    3000px) /* 1600 */
                rotateY(200deg) /* 360 */
            }
    }

    .container .box span{
        position: absolute;
        top: 0;
        left: 0;
        width: 100px; /* 100 */
        transform-origin: center;
        transform-style: preserve-3d;
        transform:rotateY(calc(var(--i) * 45deg))translateZ(400px);  /* 45   400 */
    }

    .container .box span img{
        position: absolute;
        top: 0;
        left: 1rem;
        object-fit: cover;
        width: 30vw;
        -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, #0004);
    }

}