/* Alteração do box model */
*,*::after, *::before { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {       
    /* tamanho minimo de cada pagina, 100vh, independente do conteudo pequeno da pagina, exemplo pagina contato */
    display: flex;
    flex-direction: column;
}

/* Tag main (com display, flex-direction, min-height), ocupará todo o espaço necessario, para colocar o rodapé no final da pagina */
main { flex: 1; }

.cabecalho {
    background-color: black;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    z-index: 2;
}

.container { 
    position: relative;
    overflow: hidden;
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
    margin-top: 10rem;
}

.container .slide { 
    position: relative;
    overflow: hidden;
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 5rem;
    border: 2px solid black;
}

.container .apresentacao {
    font-size: 2.5rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 5rem;
    position: relative;
    z-index: 1;
}

.container .apresentacao p {
    font-size: 2.5rem;
    margin-left: 0;
    margin-right: 4rem;
    position: relative;
    z-index: 1;
}

.container .apresentacao li {
    font-size: 2.5rem;
    margin-left: 3rem;
    margin-right: 4rem;
    position: relative;
    z-index: 1;
}

.container .whatsapp {
    font-size: 2.5rem;
    margin-left: 2rem;
    margin-right: 4rem;
    margin-top: 5rem;
    position: relative;
    z-index: 1; 
}

.container .whatsapp button {
    width: 98%;
    height: 7rem;
    margin-left: 2rem;
    margin-right: 4rem;    
    background-color: black;
}

.container .whatsapp button a {
    color: white;
    text-decoration: none;
}

/* configuração da imagem de fundo */
.container:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 90rem;
    z-index: 1;
    opacity: 0.4;
    background-image: url(/imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-position: 5% 0;
    background-size: cover;
}

footer {
    background-color: black;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* formatar slide 3*/

.container .slide { 
    position: relative;
    background-color: white;
    opacity: 1;
    overflow: hidden;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 2rem;
    height: 20rem;
    border: 2px solid black;
    z-index: 1;
}

.container .slide .box{
    top: 25rem; 
    width: 12rem; 
    height: 12rem; 
    margin-left: 40rem;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
    z-index: 1;
}

@keyframes animate{
        0% {
            transform: perspective(
                100rem)
            rotateY(0deg);    
        }
        100% {
            transform: perspective(
                100rem)
            rotateY(360deg)
        }
}

.container .slide .box span{
    position: absolute;
    top: 5rem;
    left: 0.5rem;
    width: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform:rotateY(calc(var(--i) * 45deg))translateZ(300px);
    z-index: 1;
}

.container .slide .box span img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, #0004); 
    z-index: 1;
} 

/* ---------------------------------------------- */

@media screen and (min-width: 1px) {
    html { font-size: 5px;}
}

@media screen and (min-width: 500px) {
    html { font-size: 10px;}
}

@media screen and (min-width: 1000px) {
    html { font-size: 12px;}
}

@media screen and (min-width: 1499px) {
    html { font-size: 20px;}
}