/* Alteração do box model */
*,*::after, *::before { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {       
    /* tamanho minimo de cada pagina, 100vh, independente do conteudo pequeno da pagina, exemplo pagina contato */
    display: flex;
    flex-direction: column;
}

/* Tag main (com display, flex-direction, min-height), ocupará todo o espaço necessario, para colocar o rodapé no final da pagina */
main { flex: 1; }

.cabecalho {
    background-color: black;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    z-index: 2;
}

.container { 
    position: relative;
    overflow: hidden;
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
    margin-top: 10rem;
}

.container .slide { 
    position: relative;
    overflow: hidden;
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border-radius: 5rem;
    border: 2px solid black;
}

.container .apresentacao {
    font-size: 2.5rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 5rem;
    position: relative;
    z-index: 2;
}

.container .apresentacao p {
    font-size: 2.5rem;
    margin-left: 0;
    margin-right: 4rem;
    position: relative;
    z-index: 2;
}

.container .apresentacao li {
    font-size: 2.5rem;
    margin-left: 3rem;
    margin-right: 4rem;
    position: relative;
    z-index: 2;
}

.container .whatsapp {
    font-size: 2.5rem;
    margin-left: 2rem;
    margin-right: 4rem;
    margin-top: 5rem;
    position: relative;
    z-index: 2; 
}

.container .whatsapp button {
    width: 98%;
    height: 7rem;
    margin-left: 2rem;
    margin-right: 4rem;    
    background-color: black;
}

.container .whatsapp button a {
    color: white;
    text-decoration: none;
}

/* configuração da imagem de fundo */
.container:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 265rem;
    z-index: 1;
    opacity: 0.4;
    background-image: url(/imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-position: 5% 0;
    background-size: cover;
}

footer {
    background-color: black;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container .slide .box {
    height: 150rem;
    position: relative;
    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
}

.container .slide .box span{
    position: absolute;
    top: 25rem;
    left: 0;
    width: 500rem; /* 200 300*/ 
    transform-origin: center;
    transform-style: preserve-3d;
    transform:rotateY(calc(var(--i) * 45deg))translateZ(150rem);  /* 45  100 */
}

.container .slide .box span img{
    border: 2px solid black;
    position: absolute;
    top: 0; 
    left: 0;
    object-fit: cover;
    width: 200rem; /* 200 */
    height: 40rem;  /* 40 */
    -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, #0004);
}

@keyframes animate{
    0% {
        transform: perspective(
            2500rem) /* 1600 2000*/
        rotateY(0deg);    
    }
    100% {
        transform: perspective(
            2500rem) /* 1600 */
        rotateY(250deg) /* 250 */
    }
}

/* ---------------------------------------------- */

@media screen and (min-width: 1px) {
    html { font-size: 5px;}
}

@media screen and (min-width: 500px) {
    html { font-size: 10px;}
}

@media screen and (min-width: 1000px) {
    html { font-size: 15px;}
}

@media screen and (min-width: 1499px) {
    html { font-size: 20px;}
}