/* Alteração do box model */
*,*::after, *::before { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {       
    /* tamanho minimo de cada pagina, 100vh, independente do conteudo pequeno da pagina, exemplo pagina contato */
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Tag main (com display, flex-direction, min-height), ocupará todo o espaço necessario, para colocar o rodapé no final da pagina */
main {
    flex: 1;
    height: 90vh;
}

.container { 
    position: relative;
    overflow: hidden;
    height: 90vh;
    font-style: italic;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.container h1 {
    font-size: 3.5rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 5rem;
    position: relative;
    z-index: 2
}

.container .apresentacao {
    font-size: 2.5rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 5rem;

    height: 35vh;

    position: relative;
    z-index: 2
}

.container .apresentacao p {
    font-size: 2.5rem;
    margin-left: 1rem;
    margin-right: 4rem;

    position: relative;
    z-index: 2
}

.container .apresentacao li {
    font-size: 2.5rem;
    margin-left: 4rem;
    margin-right: 4rem;

    position: relative;
    z-index: 2
}

.container .whatsapp {
    font-size: 2.5rem;
    margin-left: 4rem;
    margin-right: 4rem;

    height: 5vh;

    position: relative;
    z-index: 2
    
}

.container .whatsapp button {
    width: 100rem;
    height: 7rem;
    margin-left: 2rem;
    margin-right: 4rem;    
    background-color: black;
}

.container .whatsapp button a {
    color: white;
    text-decoration: none;
}

/* configuração da imagem de fundo */
.container:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 90vh;
    z-index: 1;
    opacity: 0.4;
    background-image: url(/imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-position: 5% 0;
    background-size: cover;
}

footer {
    background-color: black;
    font-size: 2.5rem;
    font-weight: bold;
    color: white;

    width: 100vw;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container .box {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;

    height: 55vh;

    position: relative;

    transform-style: preserve-3d;
    animation: animate 20s linear infinite;
}

.container .box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 200rem; /* 100 */
    transform-origin: center;
    transform-style: preserve-3d;
    transform:rotateY(calc(var(--i) * 45deg))translateZ(100rem);  /* 45   400 */
}

.container .box span img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 90rem;
    -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, #0004);
}

@keyframes animate{
    0% {
        transform: perspective(
            2000rem) /* 1600 */
        rotateY(0deg);    
    }
    100% {
        transform: perspective(
            2000rem) /* 1600 */
        rotateY(300deg) /* 360 */
    }
}


@media screen and (max-width: 1800px) {
    html { font-size: 10px;}
}

@media screen and (max-width: 1100px) {
    html { font-size: 8px;}
}

@media screen and (max-width: 550px) {
    html { font-size: 5px;}
}